<div class="achievements-inner" role="complementary">
  <div class="achievements-item drawer-item">
		<div class="achievements-item-open drawer-item-open">
			<div class="drawer-item-title">
				<div class="drawer-item-title-inner h5">{{{a11y_text model._drawer.achievementsTitle}}}</div>
			</div>
      <div class="drawer-item-description">
        <div class="drawer-item-description-inner achievements-drawer-body">{{{a11y_text model._drawer.achievementsBody}}}</div>
      </div>
		</div>
	</div>
</div>
