<div class="certificate-container">
	<div class="certificate-header">
		<img class="header-background"/>
	</div>
	<div class="certificate-body">
		<div class="certificate-content">
			<div class="certificate-title">Course title</div>
			<div class="certificate-name">Student name</div>
			<div class="certificate-date">Date</div>
		</div>
		<img class="body-background"/>
	</div>
	<div class="certificate-footer">
		<img class="footer-background"/>
	</div>
</div>
<div class="certificate-toolbar noprint" role="region">
	<button class="button toolbar-button print-button icon icon-printer" role="button"></button>
	<button class="button toolbar-button close-button icon icon-cross" role="button"></button>
</div>
